{erl_opts, [debug_info]}.
{deps, [
    {mapz, "0.3.0"}
]}.

{profiles, [
    {emulation, [
        {deps, [
            {grisp_emulation, "0.1.2"}
        ]},
        {shell, [
            {apps, [grisp]},
            {config, "config/emulation.config"}
        ]}
    ]},
    {test, [
        {deps, [
            {grisp_emulation, "0.1.2"}
        ]},
        {shell, [
            {apps, [grisp]},
            {config, "config/test.config"}
        ]}
    ]},
    {eqc, [
        {extra_src_dirs, ["test"]}
    ]}
]}.
