{erl_opts, [debug_info]}.
{deps, [
    {mapz, "~> 2.4"}
]}.

{extra_src_dirs, ["examples"]}.

{project_plugins, [erlfmt, rebar3_ex_doc]}.

{ex_doc, [
    {extras, [
          {"CHANGELOG.md", #{title => "Changelog"}},
          {"README.md", #{title => "Overview"}},
          {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {homepage_url, "https://github.com/grisp/grisp"},
    {source_url, "https://github.com/grisp/grisp"},
    {assets, #{"assets" => "assets"}},
    {api_reference, true}
]}.

{hex, [{doc, #{provider => ex_doc}}]}.

{erlfmt, [
    write,
    {print_width, 80},
    {files, [
        "rebar.config",
        "{src,include,test}/*.{hrl,erl}"
    ]}
]}.

{alias, [
    {analyze, [xref, dialyzer]},
    {doc, [{do, "default as doc ex_doc"}]},
    {analyze, [xref, dialyzer]}
]}.

{profiles, [
    {test, [
        {deps, [grisp_emulation]},
        {eunit_opts, [{sys_config, "config/test.config"}]},
        {shell, [
            {apps, [grisp_emulation, grisp]},
            {config, "config/test.config"}
        ]}
    ]},
    {docs, [
        {erl_opts, [{d, 'DOC'}]}
    ]},
    {eqc, [
        {extra_src_dirs, ["test"]}
    ]}
]}.
