{erl_opts, [debug_info]}.
{deps, [
    {mapz, "~> 2.2"}
]}.

{extra_src_dirs, ["examples"]}.

{project_plugins, [erlfmt]}.

{edoc_opts, [{preprocess, true}]}.

{hex, [{doc, #{provider => edoc}}]}.

{erlfmt, [
    write,
    {print_width, 80},
    {files, [
        "rebar.config",
        "{src,include,test}/*.{hrl,erl}"
    ]}
]}.

{alias, [
    {analyze, [xref, dialyzer]}
]}.

{profiles, [
    {emulation, [
        {deps, [
            grisp_emulation
        ]},
        {shell, [
            {apps, [grisp_emulation, grisp]},
            {config, "config/emulation.config"}
        ]}
    ]},
    {test, [
        {deps, [
            {grisp_emulation, "0.1.2"}
        ]},
        {shell, [
            {apps, [grisp]},
            {config, "config/test.config"}
        ]}
    ]},
    {eqc, [
        {extra_src_dirs, ["test"]}
    ]}
]}.
