title        {{release_name}}
version      {{release_version}}
linux        /{{release_name}}/erts-{{erts_vsn}}/bin/beam.zImage
devicetree   /{{release_name}}/erts-{{erts_vsn}}/bin/imx6ull-industrialgrisp.dtb
architecture ARM
