[
    {grisp, [
        {drivers, [
            {spi, grisp_emulation_spi_drv},
            {gpio, grisp_emulation_gpio_drv},
            {i2c, grisp_emulation_i2c_drv}
        ]},
        {devices, [
            {spi1, pmod_nav},
            {spi2, pmod_gyro}
        ]},
        {grisp_emu, bitmap_module}
    ]}
].
